<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue"> Dose </span><span class="main-header__title--green"> Diária🍃🌿🍃🌿🍃🌿🍃🌿 </span>
    </h1>
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a href="produtos">Produtos</a>
                    
                </li>
                <li>
                    <a routerLink="carrinho">
                                       
                        <i class="fa-solid fa-cart-shopping"></i>
                        carrinho
                         
                        <span class="badge-carrinho">{{carrinhoService.obterCarrinho().length}}</span>
                    </a>
                </li>
                <li>
                    <a>
                        <a href="contato">Contato</a>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/flaviomiguel.dutra">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                
            </ul>
        </nav>
       <app-barra-pesquisa></app-barra-pesquisa>
    </div>
</header>
<!-- Adicionar link para Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
