<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Desenvolvimento de sites, blogs, lojas virtuais, aplicativos, com as melhores ferramentas de desenvolvimento da atualidade.</p>
        </section>
        <address>
           <h2 class="footer__title">Contato</h2>
           <ul>
            <li><i class="fa-solid fa-envelope"></i> <footer>
                flaviomd7&#64;gmail.com
              </footer></li>

            <li><i class="fa-solid fa-phone">(21)99953-9317</i></li>
            <li> <i class="fa-brands fa-whatsapp"></i>(21)98227-1407</li>
           </ul>

        </address> 

    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>

